@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto ", sans-serif;
    font-size: 1em;
}

body{
    color: rgb(180, 180, 180);
    min-width: 300px;
}

/* Header */
header{
    background-color: rgb(60, 60, 60);
    height:55px;
    color: white;
    width: 100%;
}

section{
    display: block;
}

#header-content{
    margin: 0 auto;
    width: 400px;
    display: grid;
    grid-template-columns: 100px auto;
}

/* Logo */
#logo{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 1.5em;
}

#logo-img{
    height:20px;
    margin-top:15px;
    margin-left: 5px;
}

/* Top Navigation Menu */
#menu{
    height: 35px;
    padding: 19px 0px 20px 30px;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 20px 0;
    text-align: center;
}

#menu a{    
    text-align: right;
    color: white;
    text-decoration: none;
}

#menu a:hover{
    color: rgb(249, 173, 120);
}

#hero-container{
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-container-small{
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-container-full{
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero{
    height:100%;
    background-color: black;
    background: url(../images/roman-bozhko-PypjzKTUqLo-unsplash.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
}

#hero-platforms{
    height:100%;
    background-color: black;
    background: url(../images/marvin-meyer-SYTO3xs06fU-unsplash.jpg) no-repeat;
    background-position: center;
    background-size: 100%;
}

#hero-contact{
    height:100%;
    background-color: black;
    background: url(../images/adam-solomon-WHUDOzd5IYU-unsplash.jpg) no-repeat;
    background-position: center;
    background-size: 2000px;
    display: grid;
    grid-template-columns: auto 400px auto;
}

#contact-form{
    top: 0px;
    left: auto;
    margin: 50px 0px;
    padding: 20px;
    border-radius: 5px;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.95);
    color:rgb(120, 120, 120);
}

#contact-form h2{
    text-align: center;
    margin-bottom: 30px;
}

.text-input{
    background: transparent;
    border: 1px solid rgb(249, 173, 120);
    border-radius: 3px;
    color:rgb(120, 120, 120);
    padding:5px;
    margin: 10px 0px 20px 0px;
    width: 345px;
}

.radio-button{
    margin: 10px;
}

.text-input:hover{
    border: 1px solid rgb(94, 201, 178);
}

.submit-button{
    text-align: center;
    background-color: rgb(249, 173, 120);
    border: 1px solid rgb(249, 173, 120);
    color:white;
    border-radius: 5px;
    padding: 10px;
    margin: 100px auto;
    display: block;
}

.submit-button:hover{
    background-color: white;
    color: rgb(249, 173, 120);
    cursor: pointer;
}

#left-cover-text{
    top: 60px;
    left: 15%;
}

#right-cover-text{
    bottom: 60px;
    right: 20%;
}

.cover-card{
    position: absolute;
    width: 300px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.cover-card h1{
    color: rgb(120, 120, 120);
}

.cover-card p{
    color: rgb(160, 160, 160); 
    padding-top: 20px;
}

#whatis{
    display: block;
    height:100%;
    display: grid;
    grid-template-columns: 25% auto;
    padding: 40px 20px;
    margin: 0px auto;
}

#whatis> :first-child{
    height:100%;
    text-align: center;
}

#whatis> :first-child h2{
    color: rgb(120, 120, 120);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

#testimonials > h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

#whatis p,  #testimonials p{
    font-family: 'Roboto ', sans-serif;
    margin: 20px;
    line-height: 30px;
}

#testimonials > :first-child p{
    line-height: 30px;
}

#testimonials p{
    line-height: 20px;
    text-align: left;
}

#whatis p{
    text-align: left;
    color: rgb(150, 175, 170);
    font-size: 0.95em;
}

.testimonial-quotes{
    text-align: center;
    /* font-style: italic; */
    height:160px;
    font-size: 0.95em;
}

.testimonial-quotes + p {
    text-align: right;
    color: rgb(150, 175, 170);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#whatis div, #testimonials div{
    margin-bottom: 20px;
}

#testimonials-full{
    background-color: rgb(70, 70, 70); 
}

#testimonials{
    display: block;
    height:100%;
    display: grid;
    grid-template-columns: 25% auto;
    padding: 40px 20px;
    margin: 0px auto;
    background-color: rgb(70, 70, 70);
}

#program-table{
    margin: 20px;
}

#jobs{
    background-image: url("../images/jobs.jpg");
    background-position: center;
    background-size: 205px;
}

#gates{
    background-image: url("../images/gates.jpg");
    background-position: center;
    background-size: 205px;
}


#musk{
    background-image: url("../images/musk.jpg");
    background-position: center;
    background-size: 225px;
}


#kenobi{
    background-image: url("../images/kenobi.jpg");
    background-position: center;
    background-size: 205px;
}


#testimonials  h2{
  
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;

}

#testimonials> :first-child{
    text-align: center;
    color: rgb(180, 180, 180);
    font-family: 'Roboto Condensed', sans-serif;
}

.card-deck{
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
}

.small-card {
    width: 250px;
    height: 225px;
    background-color:white;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0px 10px;
    box-shadow: 0px 2px 5px 1px rgb(0 0 0 / 20%);
    float: left;
    position: relative;
}

.small-card p{
    color: rgb(150, 175, 170);
}

.small-card a{
    color: rgb(94, 201, 178);
}

.long{
    height: 350px;
}

.small-card:hover{
    box-shadow: 0px 4px 8px 2px rgb(0 0 0 / 30%);
}

.card-deck h3 {
    color: rgb(94, 201, 178);
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
    font-size: 1.05em;
}

.card-deck i{
    font-size: 1.1em;
}

.circle-image{
    background-color: gray;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 15px auto;
}

/* Social Navigation */
#social-nav{
    text-align: center;
}

#social-nav > li{
    display: inline;
}

#social-nav i{
    font-size: 150%;
    margin: 1%;
    padding: 2%;
}

#social-nav a{
    color: rgb(60, 60, 60);
}

#social-nav a:hover{
    color: rgb(94, 201, 178);
}

/* Full Table */
.full-table{
    width:70%;
    min-width: 200px;
    border-collapse: collapse;
    margin: 0px auto;
    /* color: rgb(110, 136, 131); */
    color: rgb(62, 80, 76);
    font-size: 0.95em;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
}

.full-table tbody{
    /* border: 1px solid green; */
}

td, th{
    height: 75px;
    text-align: center;
    width: 20%;
}

#t-header:hover{
    background-color: rgb(243, 243, 243);
}

tr:hover{
    background-color: white;
}

/* Quick Classes */
.ume-pink{
    color: rgb(249, 173, 120);
}

.ume-green{
    color: rgb(94, 201, 178);
}

.mh-50{
    margin: 0 50px;
}

/* 
MEDIA QUERIES
 */
@media screen and (max-width: 1450px){

    #whatis, #testimonials{
        grid-template-columns: 30% auto;
        width: 766px;
    }

    .card-deck{
        grid-template-columns: 270px 270px;
    }
}

@media screen and (max-width: 830px){

    #whatis, #testimonials{
       display: block;
       width: 540px;
       
    }

    .card-deck{
        grid-template-columns: 270px 270px;
    }
    #hero-container{
        height:300px;
    }

    #hero-container-small{
        height:200px;
    }

    .full-table{
        width:100%;
    }    
}

@media screen and (max-width: 580px){

    #whatis, #testimonials{
       display: block;
       width: 100%;
       box-sizing: border-box;
    }

    .card-deck{
        grid-template-columns: auto;
        box-sizing: border-box;
    }

    .small-card{
        width: 100%;
        margin: auto 0px;
    }

    #hero-container{
        height:250px;
        position:static;
    }

    #left-cover-text{
        margin: auto 20px;
        top: 110px;
        left: 0px;
        width: 80%;
    }
    
    .cover-card{
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 5px;
        box-sizing: border-box;
        position: absolute;
    }

    header {
        height: 100px;
    }

    #header-content{
        margin: 0 auto;
        width:100%;
        display: grid;
        grid-template-columns: 100%;
    }

    #header-content li{
        margin: 0px 10px;
    }
    #hero{
        background-size: 150%;
    }

    #logo{
        text-align: center;
    }

    #hero-contact{
        grid-template-columns: auto 90% auto;
    }

    .text-input{
        width: 90%;
    }

    .full-table{
        font-size: 0.7em;
    }
    

}