@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto ", sans-serif;
}

/* Header */
header{
    background-color: rgb(60, 60, 60);
    height:55px;
    color: white;
}

#header-content{
    margin: 0 auto;
    width: 400px;
    display: grid;
    grid-template-columns: 8% 12% auto;
}

/* Logo */
#logo{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    font-size: 150%;
    padding: 11px 0;
    height:10px;
}

#logo-img{
    height:25px;
    margin-top:15px;
}

/* Top Navigation Menu */
#menu{
    height:35px;
    padding:19px 0px 20px 30px;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#menu a{    
    text-align: right;
    color: white;
    text-decoration: none;
}

#menu a:hover{
    color: rgb(249, 173, 120);
}

/* Quick Classes */
.ume-pink{
    color: rgb(249, 173, 120);
}

.ume-green{
    color: rgb(94, 201, 178);
}

/* Social Navigation */
#social-nav{
    text-align: center;
}

#social-nav > li{
    display: inline;
}

#social-nav i{
    font-size: 150%;
    margin: 1%;
    padding: 2%;
}

#social-nav a{
    color: rgb(60, 60, 60);
}

#social-nav a:hover{
    color: rgb(94, 201, 178);
}